# Ignorer les fichiers de système
.DS_Store
Thumbs.db

# Ignorer les fichiers de l'environnement Python
*.pyc
*.pyo
__pycache__/

# Ignorer les fichiers de l'environnement Node.js
node_modules/

# Ignorer les fichiers de build
/dist/
/build/

# Ignorer les fichiers de configuration IDE
.idea/
.vscode/

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de dépendances
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorer les fichiers de sauvegarde d'éditeur
*~
*.swp
*.swo

# Ignorer les fichiers de dépendances Python (si applicable)
venv/
.env/
.env

config.json